theResearchSite/Connected Services/AuthService/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/AuthService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/AuthService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/AuthService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelTheResearch" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuth_selectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAll" />
  </wsdl:message>
  <wsdl:message name="IAuth_selectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IAuth_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_remove_InputMessage">
    <wsdl:part name="parameters" element="tns:remove" />
  </wsdl:message>
  <wsdl:message name="IAuth_remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuth">
    <wsdl:operation name="selectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/selectAll" message="tns:IAuth_selectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/selectAllResponse" message="tns:IAuth_selectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/Add" message="tns:IAuth_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/AddResponse" message="tns:IAuth_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/remove" message="tns:IAuth_remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/removeResponse" message="tns:IAuth_remove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuth" type="tns:IAuth">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAll">
      <soap:operation soapAction="http://tempuri.org/IAuth/selectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IAuth/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <soap:operation soapAction="http://tempuri.org/IAuth/remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuth" binding="tns:BasicHttpBinding_IAuth">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/AuthService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>