wpfTheResearch/Connected Services/AuthService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelTheResearch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelTheResearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthLevelList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthLevel" nillable="true" type="tns:AuthLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthLevelList" nillable="true" type="tns:AuthLevelList" />
  <xs:complexType name="AuthLevel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthLevel" nillable="true" type="tns:AuthLevel" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
</xs:schema>