wpfTheResearch/Connected Services/UserNewsInteractionService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/UserNewsInteractionService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelTheResearch" />
  <xs:element name="selectAllFavorits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllFavoritsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="selectAllFavoritsResult" nillable="true" type="q1:FavoriteList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllComments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="selectAllCommentsResult" nillable="true" type="q2:CommentList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="userNewsInteracrionType" type="q3:Enums.userNewsInteracrionType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="userNewsInteraction" nillable="true" type="q4:UserNewsInteraction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="userNewsInteracrionType" type="q5:Enums.userNewsInteracrionType" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="userNewsInteraction" nillable="true" type="q6:UserNewsInteraction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>