wpfTheResearch/Connected Services/UserNewsInteractionService/UserNewsInteractionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserNewsInteractionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/UserNewsInteractionService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/UserNewsInteractionService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/UserNewsInteractionService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelTheResearch" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserNewsInteraction_selectAllFavorits_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllFavorits" />
  </wsdl:message>
  <wsdl:message name="IUserNewsInteraction_selectAllFavorits_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllFavoritsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserNewsInteraction_selectAllComments_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllComments" />
  </wsdl:message>
  <wsdl:message name="IUserNewsInteraction_selectAllComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserNewsInteraction_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IUserNewsInteraction_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IUserNewsInteraction_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IUserNewsInteraction_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserNewsInteraction">
    <wsdl:operation name="selectAllFavorits">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserNewsInteraction/selectAllFavorits" message="tns:IUserNewsInteraction_selectAllFavorits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserNewsInteraction/selectAllFavoritsResponse" message="tns:IUserNewsInteraction_selectAllFavorits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserNewsInteraction/selectAllComments" message="tns:IUserNewsInteraction_selectAllComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserNewsInteraction/selectAllCommentsResponse" message="tns:IUserNewsInteraction_selectAllComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserNewsInteraction/Add" message="tns:IUserNewsInteraction_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserNewsInteraction/AddResponse" message="tns:IUserNewsInteraction_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserNewsInteraction/Remove" message="tns:IUserNewsInteraction_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserNewsInteraction/RemoveResponse" message="tns:IUserNewsInteraction_Remove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserNewsInteraction" type="tns:IUserNewsInteraction">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllFavorits">
      <soap:operation soapAction="http://tempuri.org/IUserNewsInteraction/selectAllFavorits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllComments">
      <soap:operation soapAction="http://tempuri.org/IUserNewsInteraction/selectAllComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IUserNewsInteraction/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IUserNewsInteraction/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserNewsInteractionService">
    <wsdl:port name="BasicHttpBinding_IUserNewsInteraction" binding="tns:BasicHttpBinding_IUserNewsInteraction">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/UserNewsInteractionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>