theResearchSite/Connected Services/UserNewsInteractionService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelTheResearch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelTheResearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/UserNewsInteractionService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FavoriteList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Favorite" nillable="true" type="tns:Favorite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FavoriteList" nillable="true" type="tns:FavoriteList" />
  <xs:complexType name="Favorite">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserNewsInteraction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Favorite" nillable="true" type="tns:Favorite" />
  <xs:complexType name="UserNewsInteraction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateTimeAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="news" nillable="true" type="tns:News" />
          <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserNewsInteraction" nillable="true" type="tns:UserNewsInteraction" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="News">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthLevel" nillable="true" type="tns:AuthLevel" />
          <xs:element minOccurs="0" name="category" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dateTimePublished" type="xs:dateTime" />
          <xs:element minOccurs="0" name="headLine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imagePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
  <xs:complexType name="AuthLevel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthLevel" nillable="true" type="tns:AuthLevel" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Human">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdUser" type="xs:int" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Human">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="authLevel" nillable="true" type="tns:AuthLevel" />
          <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Human" nillable="true" type="tns:Human" />
  <xs:complexType name="Worker">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Human">
        <xs:sequence>
          <xs:element minOccurs="0" name="salary" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Worker" nillable="true" type="tns:Worker" />
  <xs:complexType name="Comment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserNewsInteraction">
        <xs:sequence>
          <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="CommentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentList" nillable="true" type="tns:CommentList" />
  <xs:simpleType name="Enums.userNewsInteracrionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="favorite">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="comment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="all">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enums.userNewsInteracrionType" nillable="true" type="tns:Enums.userNewsInteracrionType" />
</xs:schema>