wpfTheResearch/Connected Services/HumanService/HumanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HumanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/HumanService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/HumanService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelTheResearch" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/HumanService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHuman_selectAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllUsers" />
  </wsdl:message>
  <wsdl:message name="IHuman_selectAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IHuman_selectAllUsers_ServiceFaultHumansFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ModelTheResearch" name="detail" element="q1:ServiceFaultHumans" />
  </wsdl:message>
  <wsdl:message name="IHuman_selectAllWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllWorkers" />
  </wsdl:message>
  <wsdl:message name="IHuman_selectAllWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IHuman_selectAllWorkers_ServiceFaultHumansFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ModelTheResearch" name="detail" element="q2:ServiceFaultHumans" />
  </wsdl:message>
  <wsdl:message name="IHuman_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IHuman_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IHuman_Add_ServiceFaultHumansFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ModelTheResearch" name="detail" element="q3:ServiceFaultHumans" />
  </wsdl:message>
  <wsdl:message name="IHuman_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IHuman_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IHuman_Update_ServiceFaultHumansFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ModelTheResearch" name="detail" element="q4:ServiceFaultHumans" />
  </wsdl:message>
  <wsdl:message name="IHuman_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IHuman_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IHuman_Remove_ServiceFaultHumansFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ModelTheResearch" name="detail" element="q5:ServiceFaultHumans" />
  </wsdl:message>
  <wsdl:portType name="IHuman">
    <wsdl:operation name="selectAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IHuman/selectAllUsers" message="tns:IHuman_selectAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHuman/selectAllUsersResponse" message="tns:IHuman_selectAllUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHuman/selectAllUsersServiceFaultHumansFault" name="ServiceFaultHumansFault" message="tns:IHuman_selectAllUsers_ServiceFaultHumansFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IHuman/selectAllWorkers" message="tns:IHuman_selectAllWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHuman/selectAllWorkersResponse" message="tns:IHuman_selectAllWorkers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHuman/selectAllWorkersServiceFaultHumansFault" name="ServiceFaultHumansFault" message="tns:IHuman_selectAllWorkers_ServiceFaultHumansFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IHuman/Add" message="tns:IHuman_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHuman/AddResponse" message="tns:IHuman_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHuman/AddServiceFaultHumansFault" name="ServiceFaultHumansFault" message="tns:IHuman_Add_ServiceFaultHumansFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IHuman/Update" message="tns:IHuman_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHuman/UpdateResponse" message="tns:IHuman_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHuman/UpdateServiceFaultHumansFault" name="ServiceFaultHumansFault" message="tns:IHuman_Update_ServiceFaultHumansFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IHuman/Remove" message="tns:IHuman_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHuman/RemoveResponse" message="tns:IHuman_Remove_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHuman/RemoveServiceFaultHumansFault" name="ServiceFaultHumansFault" message="tns:IHuman_Remove_ServiceFaultHumansFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHuman" type="tns:IHuman">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllUsers">
      <soap:operation soapAction="http://tempuri.org/IHuman/selectAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultHumansFault">
        <soap:fault use="literal" name="ServiceFaultHumansFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="selectAllWorkers">
      <soap:operation soapAction="http://tempuri.org/IHuman/selectAllWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultHumansFault">
        <soap:fault use="literal" name="ServiceFaultHumansFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IHuman/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultHumansFault">
        <soap:fault use="literal" name="ServiceFaultHumansFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IHuman/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultHumansFault">
        <soap:fault use="literal" name="ServiceFaultHumansFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IHuman/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultHumansFault">
        <soap:fault use="literal" name="ServiceFaultHumansFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HumanService">
    <wsdl:port name="BasicHttpBinding_IHuman" binding="tns:BasicHttpBinding_IHuman">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/HumanService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>