wpfTheResearch/Connected Services/HumanService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/HumanService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelTheResearch" />
  <xs:element name="selectAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="selectAllUsersResult" nillable="true" type="q1:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllWorkers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="selectAllWorkersResult" nillable="true" type="q2:WorkerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="humanType" type="q3:Enums.humanType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="human" nillable="true" type="q4:Human" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="humanType" type="q5:Enums.humanType" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ModelTheResearch" minOccurs="0" name="human" nillable="true" type="q6:Human" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>