wpfTheResearch/Connected Services/NewsService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelTheResearch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelTheResearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NewsList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsList" nillable="true" type="tns:NewsList" />
  <xs:complexType name="News">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthLevel" nillable="true" type="tns:AuthLevel" />
          <xs:element minOccurs="0" name="category" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dateTimePublished" type="xs:dateTime" />
          <xs:element minOccurs="0" name="headLine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imagePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="viewsCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="AuthLevel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthLevel" nillable="true" type="tns:AuthLevel" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>